<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SERVER_IP" value="" />
    <add key="ADMIN_ID" value="yuhanAdmin"/>
    <add key="ADMIN_PWD" value="yuhan1234"/>
  </appSettings>
</configuration>